.link-card {
    text-align: center;
	max-height: 275px;
	max-width: 100%;
	min-height: 275px;
	min-width: 100%;
	margin-bottom: 30px;
	position: relative;
	min-height: 1px;
	float: left;
}

.link-shade {
	background: black;
	opacity: 0.4;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.link-text {
	color: white;
	z-index: 999;
	position: absolute;
	top: 50%;
	left: 50%;
  	transform: translate(-50%, -50%);
}

.link-image {
	height: 275px;
	width: 100%;
}


.link-card:hover {
	.link-shade {
		opacity: 0;
	    transition: 0.2s;
	}
}